<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272709421121-82uckepcav8eh0b9d17125ckp0ilpu0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272709421121-82uckepcav8eh0b9d17125ckp0ilpu0c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272709421121-g4mrb1k14ndm0jiu4jsmnkaab4loia1f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBAZnSutSGGQEmsOrMkXDcs_887UJKpxI</string>
	<key>GCM_SENDER_ID</key>
	<string>272709421121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.recipe.ai</string>
	<key>PROJECT_ID</key>
	<string>project-recipe-1a94e</string>
	<key>STORAGE_BUCKET</key>
	<string>project-recipe-1a94e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272709421121:ios:b7d9eb5508183a30951ec0</string>
</dict>
</plist>